@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?jfz0fn');
  src:  url('icomoon.eot?jfz0fn#iefix') format('embedded-opentype'),
    url('icomoon.ttf?jfz0fn') format('truetype'),
    url('icomoon.woff?jfz0fn') format('woff'),
    url('icomoon.svg?jfz0fn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-radio-checked2:before {
  content: "\e907";
}
.icon-circle-left:before {
  content: "\e908";
}
.icon-circle-right:before {
  content: "\e909";
}
.icon-radio-unchecked:before {
  content: "\e90a";
}
.icon-time:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-whatsapp:before {
  content: "\e906";
}
.icon-facebook1:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
