*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*
section#banner{
	width: 100%;
	background-image: url(/img/mainbayser2.jpg);
	background-attachment: contain;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    prueba;
}
*/

body{
    margin: 0;
    padding:  0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;

    
    }
  
.boton_p{
    position: relative;
    right: 10px;
    top: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* min-height: 100vh; */
    /* background: #031321; */
    font-family: consolas;
    z-index: 3;
    
}    
/*Este es el rectangulo del boton*/
.boton{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background-color: rgba(20, 19, 19, 0.68);
    z-index: 4;
}

/* .boton:hover{
    color:#255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.1s;
} */

.boton span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}

a:hover span:nth-child(1){
    left: 100px;
    transition: 1s;
}

a span:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}

a:hover span:nth-child(3){
    right: 100px;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4){
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

header{
    background-image: url(img/mainbayser5.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	/*background-color: transparent;*/
}

nav{
    width: 100%;
    background-color:transparent;
    /*background-color: rgba(20, 19, 19, 0.68);*/
     overflow: auto;
     margin-top: -30px;
     text-align: center;
     position: fixed;
     margin: -px;
     margin-bottom: 20px;
     height: auto;
     padding:  0;
     z-index: 10;   
}

header nav ul{
	padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

header nav ul li{
	display: inline-block;
    margin: 0px;
	padding: 0px;
}

header nav ul li a{
    display: inline-block;
    width: 100%;
    padding: 17px 15px;
    text-decoration: none;
    text-align: center;
    color: #333333;
    /*color: whitesmoke;*/
    /* color: black; */
    transition: all 0.4s linear;
    font-family: 'Baloo Thambi 2', cursive;
    position: relative;
    background: darkgreen(#2196f3,15);
    text-transform: uppercase;
}

header nav ul li a::before{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #2196f3;
    transition: .3s;
}

header nav ul li a:hover::before{
    width: 100%;
    left: 0;
    border: none;
    border-left: 3px solid #2196f3;
}

ul li ul li {

    float: left;
    }
    
    
    
    ul li ul{
        display: none;
        position: relative;
        width: 200px;
        padding: 10px 15px;
    
    }
    li:hover>ul{
        display: block;
    
    }


/*
img#logo{
	float:left;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 150px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}
*/
#body{
	width: 100%;
	height: 0px;
}
/*Icono de la empresa*/
.logo{
    position: relative;
    margin-top: 29px;
    margin-bottom: -10px;
    width: 50px;
    left: 10px;
    
}

    .logo .imgnav{
           
           float: left;
            left: 10px;
            width:100px;
            height: 100%;
            top: 3px;
            margin-bottom: 5px;
    } 


.lemacaja{

    position: absolute;
    left: 40px;
    top: 350px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: rgba(20, 19, 19, 0.68);
    background-color: transparent;
    color: whitesmoke;
    font-family: 'Baloo Thambi 2', Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:  24px;


}

/*Footer Nando*/footer {
    align-self: flex-end;
    background-color: #333333;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    width: 100%;
  }
.mail {
    list-style: none;
    text-decoration: none;
    color: white;
}
.facebook {
    list-style: none;
    text-decoration: none;
    color: white;
}
.whatsapp {
    list-style: none;
    text-decoration: none;
    color: white;
}
.home{
    list-style: none;
    text-decoration: none;
    color: white; 
}
 .icon-mail4{
    position: relative;
 }
 
 .icon-facebook2{
    position: relative;
}
.icon-whatsapp{
    position: relative;
    font-size: 15px;
}

.mensaje{
position: relative;
color: white;
font-size:  15px;
top: 40px;
left: center;
}
.mensaje1{
    position: relative;
    color: white;
    font-size:  25px;
    top: -20px;
    left: center;
    }
    
    .mensaje2{
        position: relative;
        color: rgb(247, 249, 255);
        font-size:  30px;
        top: 15px;
        left: center;
        font-weight: bold;
        
    
        }

footer  hr{
     position: relative;
     top: -20px;
    }


/*FOOTER PEY*/
/*
    
footer{

    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}
*/