*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{
    margin: 0;
    padding:  0;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
}

    
header{
    /* background-image: url(img/form_fondo_barra.jpg);
    background-color:transparent;
    height: 59.6167px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    width: 100%;
    height: 1000px;
    background-image: url(img/form_fondo.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    width: 100%;
    background-color: rgba(20, 19, 19, 0.68);
     margin-top: -30px;
     text-align: center;
     position: fixed;
     margin: -px;
     margin-bottom: 20px;
     height: auto;
     padding:  0;
     z-index: 10;   
}

header nav ul{
	padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

header nav ul li{
	display: inline-block;
    margin: 0px;
	padding: 0px;
}

header nav ul li a{
    display: inline-block;
    width: 100%;
    padding: 17px 15px;
    text-decoration: none;
    text-align: center;
    color: #333333;
    color: white;
    transition: all 0.4s linear;
    font-family: 'Baloo Thambi 2', cursive;
    position: relative;
    background: darkgreen(#2196f3,15);
    text-transform: initial;
}

header nav ul li a::before{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #2196f3;
    transition: .3s;
}

header nav ul li a:hover::before{
    width: 100%;
    left: 0;
    border: none;
    border-left: 3px solid #2196f3;
}

ul li ul li {
    float: left;
}
        
ul li ul{
    display: none;
    position: relative;
    width: 200px;
    padding: 10px 15px;
}

li:hover>ul{
    display: block;
}

#body{
	width: 100%;
	height: 0px;
}
/*Icono de la empresa*/
.logo{
    position: relative;
    margin-top: 29px;
    margin-bottom: -10px;
    width: 50px;
    left: 10px; 
}

.logo .imgnav{           
    float: left;
    left: 10px;
    width:100px;
    height: 100%;
    top: 3px;
    margin-bottom: 5px;
} 

header .btn_hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 30px;
    right: 7px;
    cursor: pointer;
}
    
header .btn_hamburger div{
    width: 90%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}
/*SLIDER*/

/*CUERPO*/

/* Formulario Validaciones */

 
/* Formulario */
/* .informacion{
    width: 100%;
    height: 1000px;
    background-image: url(img/form_fondo.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
} */

.informacion .form .form-header .form-title{
    font-weight: normal;
    font-family: sans-serif;
    color:#276ff5;
    text-align: center;
    padding: 14px 0;
}

.informacion .form .form-subtitle{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color:#276ff5;
    padding: 20px 0;   
}

.informacion .form .form-header .form-title span{
    color: #fff;
}

.informacion .form{
   /* position: absolute;*/
   /* top: 50px;
    right: 330px;*/
    background: rgba(0,0,0,.6);
   /* width: 100%;
    max-width: 650px;*/
    margin: auto;
    padding: 5px 35px;
    /* margin-top: 30px; */
  /*  padding-bottom: 30px;*/
    border-radius: 3px;    
}

.informacion .form .form-label{
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
    position: relative;
}

.informacion .form .form-uni{
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
    position: relative;
    top: -49px;
    left: 458px;
    margin: -28px;
    padding: 0;
    width: 15px;
    
    /* width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
    font-family: Roboto;    */

}

.informacion .form .form-input, .form-textarea{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #276ff5;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
    font-family: Roboto;   
}

.informacion .form .form_select{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #276ff5;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
    font-family: Roboto;   
}

.informacion .form .form-extra{
    /* Prueba Posicion */
    position: relative;
    display: flex;
    left: -1px;
    top: 1px;

    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #276ff5;
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
    font-family: Roboto; 

}

.informacion .form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.informacion .form .btn-submit{
    width: 100%;
    font-family: Roboto;
    outline: none;
    background: #276ff5;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
}

.seleccion{
    display: block;
    width: 100%;
    height: 85px;
    position: relative;
}

/*-----------------------------------------------footer--------------------------------------------------*/
footer {
    position: relative;
    align-self: flex-end;
    background-color: #333333;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 3px #ffff;
}

.ubicacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
}

.icono-ubicacion{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.informacion-ubicacion{
    display: inline;
}

.icono-horario{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.horario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion-horario{
    display: inline;
}

.socios{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.enlace-mail {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    color: white;
    position: relative;
    padding: 0px 10px;
}

.enlace-mail:hover>.span-email{
   width: 233px;
    transition: .3s;
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.span-email{
    font-size: 20px;
    width: 233px; 
    display: none;
    position: absolute;
    padding: 0px 0px 0px 2px; 
    color: white;
}

.icon-email{
    position: relative;
}

.enlace-facebook{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    position: relative;
}

.enlace-facebook:hover>.span-facebook{
    width: 180px;
    transition: .3s;
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.span-facebook{
    font-size: 20px;
    width: 180px; 
    display: none;
    position: absolute;
    padding: 0px 0px 0px 2px;
    color: white;
}

.icon-facebook{
    position: relative;
}

.enlace-whatsapp {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    position: relative;
}

.enlace-whatsapp:hover>.span-whatsapp {
    width: 180px;
    transition: .3s;
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.span-whatsapp{
    font-size: 20px;
    width: 180px; 
    display: none;
    position: absolute;
    padding: 0px 0px 0px 2px;
    color: white;
}

.icon-whatsapp{
    position: relative;
}

.enlace-celular{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    color: white; 
    padding: 0px 10px;
    position: relative;
}

.enlace-celular:hover>.span-celular {
    width: 180px;
    transition: .3s;
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.span-celular{
    font-size: 20px;
    width: 180px; 
    display: none;
    position: absolute;
    padding: 0px 0px 0px 2px;
    color: white;
}

.icon-phone{
    position: relative;
}

.pregunta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pregunta-span{
    background: #2196f3;
    transform: rotate(-10deg);
}

.Copyright{
    display: flex;
    position: relative;
    color: white;
    align-self: flex-end;
    background: #000000;
    align-items: center;
    justify-content: center;
}

.titulo-footer{
    position: relative;
    color: white;
    top: 5px;
    justify-content: center;
}

footer  hr{
    position: relative;
    top: -20px;
}

@media screen and (min-width:320px){
/*responsive del nav*/
.logo .imgnav{
    width: 6em;
    height: 3em;
}

header nav ul li a{
    width: 100vw;
    font-size: 1em;
}

.logo{
    left: 35.5vw;
}

header .btn_hamburger{
    display: flex;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 40px;
    right: 15px;
}

header nav ul{
    overflow: hidden;
    width: 100vw;
    transition: max-height 1s ease-in;    
}
    
header nav ul.hidden{
    max-height: 0vh;
    transition: max-height 1s ease-in;
}   

header nav ul.hidden .btn_hamburger div:nth-child(1){
    width: 60%;
    transition: width 0.1s linear;
}

header nav ul.hidden .btn_hamburger div:nth-child(3){
    width: 60%;
        transition: width 0.1s linear;
    }
/*responsive del footer*/
.col-3{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-basis: calc(100%/1);
    margin-bottom: 5px;
}

footer{
    flex-basis: 100%;
}

.redes-sociales{
    flex-basis: 100%;
    font-size: 30px;
}

.container{
    flex-basis: calc(100%/1);
    font-size: 12px;
    flex-wrap: wrap;
}

.icono-ubicacion{
    display: inline;
    height: inherit;
}

.icon-location{
    font-size: 30px;
}

.direccion-ubicacion{
    display: flex;
    justify-content: center;
    text-align: center;
}

.icono-horario{
    display: inline;
    height: inherit;
}

.icon-time{
    font-size: 30px;
}

.texto-horario{
    display: flex;
    justify-content: center;
    text-align: center;
}

.socios{
    height: auto;
}

.icono-socio-ohaus{
    width: 30%;
    height: 25px;
}

.pregunta{
    flex-basis: 100%;
    height: 100px;
}

.pregunta-span{
    flex-basis: calc(100%/1.8);
    font-size: 20px;
}

.Copyright{
    height: 50px;
    flex-basis: 100%;
    font-size:  15px;
}

.titulo-footer{
    font-size:  20px;
    flex-basis: 100%;
}
}


@media screen and (min-width:481px){
/*responsive del nav*/
.logo .imgnav{
    width: 8em;
    height: 5em;
}

header nav ul li a{
    width: 100vw;
    font-size: 1.1em;
}

.logo{
    left: 38vw;
}

header .btn_hamburger{
    display: flex;
    width: 3em;
    height: 3em;
    position: absolute;
    top: 50px;
    right: 15px;
}

header nav ul{
    overflow: hidden;
    width: 100vw;
    transition: max-height 1s ease-in;    
}
    
header nav ul.hidden{
    max-height: 0vh;
    transition: max-height 1s ease-in;
}   

header nav ul.hidden .btn_hamburger div:nth-child(1){
    width: 60%;
    transition: width 0.1s linear;
}

header nav ul.hidden .btn_hamburger div:nth-child(3){
    width: 60%;
    transition: width 0.1s linear;
}

/*responsive del formulario*/
.informacion .form{
    /* position: relative;*/
    margin-top: 100px;
     bottom: 0px;
     right: 330px;
     background: rgba(0,0,0,.6);
     width: 100%;
     max-width: 650px;
     margin: auto;
     padding: 5px 35px;
     /* margin-top: 30px; */
     padding-bottom: 30px;
     border-radius: 3px;    
 }
 
 .informacion .form .form-uni{
     display: block;
     color: #fff;
     font-size: 16px;
     font-family: Roboto;
    position: absolute;
     top: -52px;
     left: 400px;
     /*margin-right: 50px;*/
     margin: -28px;
     padding: 0;
     width: 10px;
     
     /* width: 50%;
     padding: 10px;
     margin-bottom: 20px;
     border-radius: 2px;
     font-size: 14px;
     color: #FFF;
     font-family: Roboto;    */
 
 }

 .informacion .form .form_select{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #276ff5;
    width: 55%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
    font-family: Roboto;   
}

/*responsive del footer*/
.col-3{
    flex-basis: calc(100%/3);
}

footer{
    flex-basis: 100%;
}

.container{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 3px #ffff;
}
    
.icono-ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
    
.icono-horario{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
    
.horario{
    display: flex;
    justify-content: center;
    align-items: center;
}
        
.informacion-horario{
    display: inline;
}
    
.socios{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales{
    flex-basis: 100%;
    font-size: 30px;
}

.container{
    flex-basis: calc(100%/1);
    font-size: 12px;
    flex-wrap: wrap;
    height: 130px;
    align-items: center;
}

.icon-location{
    font-size: 35px;
}

.icon-time{
    font-size: 35px;
}

.icono-socio-ohaus{
    width: 30%;
    height: 25px;
}

.pregunta{
    flex-basis: 100%;
    height: 130px;
}

.pregunta-span{
    flex-basis: calc(100%/2.7);
    font-size: 20px;
}

.Copyright{
    height: 50px;
    flex-basis: 100%;
    font-size:  15px;
}

.titulo-footer{
    font-size:  20px;
    flex-basis: 100%;
}
}


@media screen and (min-width:768px){
/*responsive del nav*/
.logo .imgnav{
    width: 8.5em;
    height: 5em;
}

header nav ul li a{
    width: 100vw;
    font-size: 1.1em;
}

.logo{
    left: 43.5vw;
}
    
header .btn_hamburger{
    display: flex;
    transition: width 0.5s ease-in;
    width: 3em;
    height: 3em;
    position: absolute;
    top: 50px;
    right: 18px;
}
    
header nav ul{
    overflow: hidden;
    width: 100vw;
    transition: max-height 1s ease-in;    
}
   
header nav ul.hidden{
    max-height: 0vh;
    transition: max-height 1s ease-in;
}   
    
header nav ul.hidden .btn_hamburger div:nth-child(1){
    width: 60%;
    transition: width 0.1s linear;
}
    
header nav ul.hidden .btn_hamburger div:nth-child(3){
    width: 60%;
    transition: width 0.1s linear;
}

/*responsive del formulario*/
.informacion .form{
    display: block;
  /* position: relative;*/
     top: 100px;
     right: 330px;
     background: rgba(0,0,0,.6);
     width: 100%;
     max-width: 650px;
     margin: auto;
     padding: 5px 35px;
     /* margin-top: 30px; */
     padding-bottom: 30px;
     border-radius: 3px;    
 }
 
 .informacion .form .form-uni{
     display: block;
     color: #fff;
     font-size: 16px;
     font-family: Roboto;
     /*position: relative;*/
     top: -52px;
     left: 458px;
     margin: -28px;
     padding: 0;
     width: 15px;
     
     /* width: 50%;
     padding: 10px;
     margin-bottom: 20px;
     border-radius: 2px;
     font-size: 14px;
     color: #FFF;
     font-family: Roboto;    */
 
 }

/*responsive del footer*/
.col-3{
    flex-basis: calc(100%/3);
}

footer{
    flex-basis: 100%;
}

.redes-sociales{
    flex-basis: 100%;
    font-size: 30px;
}

.container{
    flex-basis: 100%;
    font-size: 12px;
}

.icon-location{
    font-size: 35px;
}

.icon-time{
    font-size: 35px;
}

.icono-socio-ohaus{
    width: 40%;
    height: 35px;
}

.pregunta{
    flex-basis: 100%;
    height: 130px;
}

.pregunta-span{
    flex-basis: calc(100%/3.4);
    font-size: 25px;
}

.Copyright{
    height: 50px;
    flex-basis: 100%;
    font-size:  15px;
}

.titulo-footer{
    font-size:  20px;
    flex-basis: 100%;
}
}

@media screen and (min-width:1025px){
/*responsive del nav*/
.logo .imgnav{
    width: 6em;
    height: 2.9em;
}

.col-3{
    flex-basis: calc(100%/3);
}

/*nav*/
        
header nav ul li a{
    width: 100%;
    font-size: 18px;
}

header .btn_hamburger{
    display: none;
    overflow: hidden;
}

.logo{
    left: 10px;
}
    
header nav ul{
    overflow: visible;
    width: 100vw;
    transition: max-height 1s ease-in;    
}

ul li ul li {
    float: left;
}
                        
ul li ul{
    display: none;
    position: relative;
    width: 200px;
    padding: 10px 15px;        
}

li:hover>ul{
    display: block;        
}

header nav ul.hidden{
    max-height: 100vh;
    transition: max-height 1s ease-in;
}   
    
header nav ul.hidden .btn_hamburger div:nth-child(1){
    width: 60%;
    transition: width 0.1s linear;
}
    
header nav ul.hidden .btn_hamburger div:nth-child(3){
    width: 60%;
    transition: width 0.1s linear;
}
/*responsive del formulario*/
.informacion .form{
   /* position: absolute;*/
    top: 50px;
    right: 330px;
    background: rgba(0,0,0,.6);
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    /* margin-top: 30px; */
    padding-bottom: 30px;
    border-radius: 3px;    
}

.informacion .form .form-uni{
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
    position: relative;
    top: -52px;
    left: 458px;
    margin: -28px;
    padding: 0;
    width: 15px;
    
    /* width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
    font-family: Roboto;    */

}
/*responsive del footer*/
.col-3{
    flex-basis: calc(100%/3);
}

footer{
    flex-basis: 100%;
}

.redes-sociales{
    flex-basis: 100%;
    font-size: 40px;
}

.container{
    flex-basis: 100%;
}

.icon-location{
    font-size: 40px;
}

.informacion-ubicacion{
    display: inline;
    font-size: 13px;
}

.icon-time{
    font-size: 40px;
}

.informacion-horario{
    display: inline;
    font-size: 13px;
}

.icono-socio-ohaus{
    width: 50%;
    height: 45px;
}

.icono-ohaus{
    font-size: 13px;
}

.pregunta{
    flex-basis: 100%;
    height: 140px;
}

.pregunta-span{
    flex-basis: calc(100%/3.5);
    font-size: 30px;
}

.Copyright{
    height: 50px;
    flex-basis: 100%;
    font-size:  15px;
}

.titulo-footer{
    font-size:  25px;
    flex-basis: 100%;
}
}